.footer{
    height: 1600px;
    background-color: #e6e9ed;
    margin: 0;
    padding: 0;
}

.footer__block{
    display: flex;

}
.container{
    min-width: 1440px;
    padding: 0 150px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 80px;
}

.menu-header{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #C51414;
}

.nav{
    margin-left: 30px;
}

.footer-menu{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.footer-menu-item{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.footer-menu-item-all{
    font-weight: bold;
}

.footer-menu-block{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 140px;
    flex-direction: row;
}

.footer-menu-item-link{
    color: black;
    text-decoration: none;
}

.hr{
    height: 2px;
    margin-top: 100px;
    background-color:black
}