.main {
    display: flex;
    flex-direction: column;
    padding: 6rem 150px;
    min-height: 100vh;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,233,237,1) 100%);
}

.service__title{
    font-size: 2rem;
}

.service__org {
    font-weight: bold;
    opacity: 70%;
    font-size: 1rem;
}

.service__period{
    font-weight: bold;
    font-size: 1rem;
}

.service__bold__text{
    font-weight: bold;
    padding-right: 3px;
    opacity: 70%;
}

.service__price{
    font-weight: bold;
    font-size: 1rem;
}

.service-title-container{
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.service-reg-title{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color:red;
}

.service__reg__warning{
    margin-top: 40px;
    color:red;
    font-weight: bold;
    font-size: 20px;
}
.service-reg-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.service-reg-form label {
    margin: 10px 0 5px;
}

.service-reg-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.service-reg-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.service-reg-form button:hover {
    background-color: #0056b3;
}

.submitted-data-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    margin-left: 20px;
}

.submitted-data {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
}

.submitted-data h3 {
    margin-bottom: 20px;
}

.submitted-data p {
    margin: 10px 0;
}