 .registration{
    background-color:white;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color:#f3f5f7;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Стандарт */
 }

 .reg__title{
   width: 50%;
   padding-left: 150px;
   padding-top: 50px;
   background-color:#f3f5f7;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .title{
   font-family: 'Roboto', sans-serif;
 }

 .reg_form{
  
   padding-left: 150px;
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .form{
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px 0;
   background-color:#fff;
   padding: 20px;
   margin: 10px;
   border-radius:10px;
 }

 .reg__input{
   height: 50px;
   width: 400px;
   border-radius:5px;
   font-size: 16px;
   text-align: left;
   padding: 10px;
   color:black;
   opacity: 50%;
 }

 .btn__registration{
   height: 50px;
   background-color: #007bff;
   color: white;
   border:none;
   font-size: 25px;
   border-radius:5px;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
 }

 .btn__registration:hover{
  opacity: 70%;
  transition: all 0.5s ease-in-out;
 }

 .error{
   padding: 5px 0;
   color: red;
   max-width: 400px;
 }

 .g-recaptcha{
  height: 100px;
 }

 .label__text{
  font-weight: bold;
  font-size: 16px;
 }

 .gerb{
  padding-top: 30px;
 }

 .show__password__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333; /* Цвет текста кнопки */
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #333; /* Граница кнопки */
  transition: all 0.5s ease-in-out;
}

.show__password__button:hover {
  background-color: #333; /* Цвет фона при наведении */
  color: #fff; /* Цвет текста при наведении */
  transition: all 0.5s ease-in-out;
}