.main {
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding: 6rem 150px;
    min-height: 100vh;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,233,237,1) 100%);
  }

  .form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    width: 350px;
  }