.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .form__title {
    margin-bottom: 24px;
    font-size: 40px;
  }
  
  .form__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form__field-title {
    margin-bottom: 8px;
    font-size: 22px;
  }
  
  .form__field-input {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 16px 24px;
    font-family: inherit;
    font-size: 22px;
  }
  
  .form__actions {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
  }
  
  .form__reset {
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    padding: 16px 24px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .form__reset:hover {
    color: white;
    background-color: #0000FF;
  }
  
  .form__reset:disabled {
    opacity: .9;
    pointer-events: none;
  }
  
  .form__reset:hover + .form__submit {
    color: #000;
    background-color: transparent;
  }
  
  .form__submit {
    background-color: #0000FF;
    color: #fff;
    width: 100%;
    border-radius:5px;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    padding: 16px 24px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .form__submit:hover{
    opacity: 70%;
    transition: all 0.3s ease-in-out;
  }


  
  .form__message {
    margin-bottom: 20px;
  } 

  .registr_text{
    padding-top: 15px;
    font-size: 20px;
  }

  .reg_link{
   color: #0000FF;
  }

  .reg_link:hover{
    opacity: 80%;
  }
  