.main__themes{
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 0 40px;
    align-items:end;
  }
  
  .main__themes__title{
    font-size: 24px;
    font-weight: bold;
  }
  
  .main__themes__links{
    display: flex;
    list-style-type: none;
    gap: 0 40px;
    font-size: 20px;
    color: #0000FF;
  }
  